
.canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;

    &__inner {  
        border-top: 3px solid #3c3c3c;
        border-bottom: 3px solid #3c3c3c;
    }
}
