@import '_variables';

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    height: 100%;

    &__title {
        margin-top: 100px;
        font-size: 82px;
        font-family: $heading-font;
        font-weight: 400;
    }

    &__inner {  
        border-top: 3px solid #3c3c3c;
        border-bottom: 3px solid #3c3c3c;
    }
}
